<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - Lastest Questions</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>

<body>
    {% if latest_question_list %}
    <fieldset>
        <legend><h2>Questions</h2></legend>
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            {% for question in latest_question_list %}
            <li>
                <p><strong>{{ question.question_text }}</strong>&nbsp;<a type="button" href="{% url 'polls:detail' question.base64code %}">Open</a></p>
                <p>Tiene {{ question.votes }} votos</p>
            </li>
            {% endfor %}
        </ul>
        </form>
    </fieldset>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    <br>
    <a href="{% url 'home' %}">Home</a>
</body>

</html>