<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
</head>

<body>
    <h2>HOME - POLLS</h2>
    <br>
    <ul>
        <li><a href="{% url 'polls:index' %}">Polls</a></li>
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    </ul>
    <center>
        {% for i,list in last_questions_vote %}
            {%if i == 1 %}
                <h2>Questions - Last day</h2>
                <form action="" method="post">
                    {% csrf_token %}
                        <table border="solid 1">
                            <tr>
                                <th>ID</th>
                                <th>Question text</th>
                                <th>Date</th>
                                <th>User</th>
                                <th>Options</th>
                            </tr>
                            {% for q in list %}
                            <tr>
                                <td>{{ q.id }}</td>
                                <td>{{ q.question_text }}</td>
                                <td>{{ q.pub_date }}</td>
                                <td>{{ q.user.username }}</td>
                                <td><a href="{% url 'polls:detail' q.base64code %}" type="button">Open</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                </form>
            {% else %}
                <br><br>
                <h2>Last Question Answered</h2>
                <table border="solid 1">
                    <tr>
                        <th>ID</th>
                        <th>Question text</th>
                        <th>Date Voted</th>
                        <th>User</th>
                    </tr>
                    <tr>
                        <td>{{ list.id }}</td>
                        <td>{{ list.question.question_text }}</td>
                        <td>{{ list.date_vote }}</td>
                        <td>{{ list.user }}</td>
                    </tr>
                </table>
            {% endif %}
        {% endfor %}
    </center>
</body>

</html>